@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    margin: 0;
    overflow-x: hidden;
    font-size: 15px;
}

.drop-down-container {
    /* height: 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    background-color: rgb(224, 42, 42);
}

.drop-down-container img {
    height: 70px;
    margin-top: 10px;
    margin-left: 5px;
}

.drop-down-container div {
    font-size: 11px;
    color: white;
    margin: 10px;
    font-weight: 700;
    /* margin-right: 3px; */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* background-color: rgba(255, 255, 255, 0.8); Optional: Add a semi-transparent background for better readability */
    background-color: rgba(255, 255, 255, 0.89);


}

.nav-title:hover {
    color: brown;
}



#ayodhya-background-section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
}

.ayodhya-title-container {

    height: 70px;
    background-color: rgb(240, 19, 19);
    border-top-right-radius: 10px;
    border-top-left-radius: 5px;


    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    width: 340px;
}

.ayodhya-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;


}

.breed-crum-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(177, 177, 177);

}

.breadcrumb li {
    padding: 15px;
}

.active {
    color: brown;
}

#about-ayodhya-section {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}



.images-column img {
    /* max-width: 100%; */
    border-radius: 30px 0 30px 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);

}



.blockquote {
    padding: 0px 10px 0px 30px;
    position: relative;
    border-left: 7px solid #ed3e50;
    margin-bottom: 25px;
    border-radius: 25px;
    font-size: 1.2em;
    /* font-weight: 300; */
    text-align: justify;
    margin-left: 135px;


}

.blockquote p {
    margin: 0 0 20px;
    line-height: 1.5;
    /* line-height: 1.42857143; */
    color: #636363;
}

.para {
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.video-btn {
    height: 40px;
    width: 40px;
    background-color: aqua;
}

.video-btn .video-play-btn {
    font-size: 20px;
    width: 70px;
    height: 58px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    color: #fff;
    background-color: #73c6ff;
    position: relative;
    z-index: 1;
}

.expo-ayodhya-container {
    background-image: url(https://uptourism.gov.in/site/writereaddata/siteContent/Year_2024/202401161034006294ayodhya-banner.jpg);
    min-height: 630px;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.expo-ayodhya-container h2 {
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.video-container {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* margin-left: 170px; */
    /* margin-right: 170px; */
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
}

.video_thumb {
    background-color: #fff;
    border-radius: 21px;
    padding: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.66);
}

.video_thumb video {
    background-color: #000;
    border-radius: 10px;
}

.ayodhya-heading {
    border-bottom: 1px solid blue;
    border-bottom-style: dashed;
}

.description {
    width: 50%;
    font-size: 18px;
    color: white;
    padding-right: 30px
}

.textlist li:before {

    /* content: "\f107"; */
    font-family: "Flaticon";
    position: absolute;
    left: 0;
    top: -1px;
    color: #ed3e50;
    font-weight: 400;
}

.places-to-visit-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 30px;


}

.textlist li {
    position: relative;
    line-height: 1.7em;
    margin-bottom: 10px;
    padding-left: 35px;
    text-align: justify;

    margin: 0 0 20px;
    /* line-height: 1.5; */
    /* line-height: 1.42857143; */
    color: #636363;
    font-size: 1rem;


}

.places-to-visit-section img {
    border-radius: 30px 0 30px 0;
    box-shadow: 0px 0px 15px;
    /* margin-left: 100px; */
    height: 400px;


}

.pagedata {
    width: 90%;
}

.pagedata h3:after {
    content: url('./assets/icons8-namaste-78.png');

    font-family: FontAwesome;
    position: absolute;
    left: 0px;
    bottom: 0px;
    /* width: 43px; */
    /* height: 43px; */
    /* background-color: #e64353; */
    color: #fff;
    font-size: 0.6em;
    /* text-align: center; */
    /* padding: 15px; */
    /* border-radius: 4px 4px 0px 0px; */
}

.heading {
    margin-bottom: 50px;
}

.pagedata h3 {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 15px;
    color: #333;
    padding: 10px 15px 10px 80px;
    position: relative;
    font-size: 1.4em;
    border-bottom: 1px solid #e64353;
}

.images-column {
    position: relative;
}

.left-image .first {
    margin-left: 100px;
    width: 90%;
}

.images-column .first {
    position: relative;
}

.images-column .second {
    position: relative;
    z-index: 2;
    margin-top: -170px;
}

.shri-nageshwarnath-temple {
    display: flex;
    /* margin-left: 170px; */
    /* margin-right: 170px; */
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.shri-temple-description {
    /* width: 90%; */
    padding-left: 90px;
}

#tulsi-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 30px;

}

#tulsi-section div {
    padding-left: 40px;
}

#saryu-river-section {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.saryu-img {
    padding-right: 80px;


}

#guptar-section {
    background-image: url("https://uptourism.gov.in/images/abouayodhya.png");
    background-size: cover;
    /* height: 100vh; */
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.guptar-description {
    padding-right: 90px;
}

#city-overview {
    padding: 30px 0px;
}

section {
    position: relative;
}

.monument {
    position: relative;
    margin: 0px;
    padding: 0px;
    background-image: url(https://uptourism.gov.in/images/monuments-img.png);
    background-repeat: repeat;
    background-position: bottom center;
    min-height: 147px;
    animation-name: banner-animate;
}

footer {
    display: block;
    background-color: #575f68;

}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer-column {
    display: flex;
    list-style: none;
    margin: 0px -15px;
    padding: 15px 0px;
    flex-wrap: wrap;
}

.footer-column div {
    box-sizing: border-box;
    width: 20%;
    padding: 0px 15px;
}

.footer-column ul li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    padding: 0px;
    font-size: 1em;
    line-height: 30px;
    font-weight: normal;
    text-decoration: none;
}

.footer-column h3 {
    color: #ffeac1;
    font-size: 1.3em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;

}

.qrcode img {
    margin: 5px auto;
    max-width: 73%;
    border-radius: 5px;
    display: block;
    border: 5px solid #111111;
}

.qrcode .btn {
    font-size: 16px;
    white-space: break-spaces;
    background-color: #e96222;
    color: #fff;
    font-weight: 700;
    border-radius: 49px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    border: 2px solid #fff;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.footbtm {
    background-color: #4c545e;
    color: #fff;
    padding: 15px 0px;
    font-size: 0.9em;
}

.footbtm a {
    color: #fff;
    text-decoration: none;
}

.stqc-logo {
    display: block;
    float: left;
    width: 70px;
    margin-right: 10px;
}

.stqc-logo img {
    max-width: 100%;
}

@media screen and (max-width:768px) {
    .img-responsive {
        height: 40px;
        width: 100%;
    }

    #ayodhya-background-section img {
        width: 100%;

    }

    .lord-rama-one {
        width: 50% !important;
    }

    .ayodhya-title-container {
        height: 40px;
        width: 140px;
    }

    .ayodhya-title {
        font-size: 20px;
    }

    .breadcrumb li {
        /* padding: 20px; */
        margin-top: 20px;
    }

    #about-ayodhya-section {
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* align-items: center; */
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
        padding: 10px;
    }



    .images-column img {
        max-width: 100%;
        height: 150px;
        margin-bottom: 30px;

    }


    .left-image .first {
        margin-left: 80px;
        /* width: 10%; */
    }


    .images-column .second {
        position: relative;
        z-index: 2;
        margin-top: -60px;
    }

    .blockquote {
        padding: 0px 0px 0px 30px;
        position: relative;
        border-left: 7px solid #ed3e50;
        margin-bottom: 15px;
        border-radius: 20px;
        font-size: 1em;
        /* font-weight: 300; */
        text-align: justify;
        margin-left: 0px;


    }

    .blockquote p {
        margin: 0 0 20px;
        line-height: 1.5;
        /* line-height: 1.42857143; */
        color: #636363;
    }

    .expo-ayodhya-container h2 {

        font-size: 20px;
    }

    .video-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* align-items: center; */
        /* margin-left: 170px; */
        /* margin-right: 170px; */
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
        padding: 10px;
    }

    .video_thumb {
        background-color: #fff;
        border-radius: 15px;
        padding: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.66);
    }

    .video_thumb video {
        border-radius: 5px;
    }

    .description {
        width: 100%;
        font-size: 15px;
        color: white;
        padding-right: 0px
    }

    .places-to-visit-section {
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 10px;
        margin-top: 30px;


    }

    .places-to-visit-section img {
        /* margin-left: 100px; */
        height: 300px;
    }

    .shri-nageshwarnath-temple {
        /* margin-left: 170px; */
        /* margin-right: 170px; */
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
        padding: 10px;
    }

    .shri-temple-description {
        /* width: 90%; */
        padding-left: 0px;
    }

    #tulsi-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
        /* padding: 0; */

    }

    #tulsi-section div {
        padding-left: 0px;
    }

    #saryu-river-section {
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 10px;

    }

    #guptar-section {

        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 10px;

    }

    .guptar-description {
        padding-right: 0px;
    }

    .monument {
        background-repeat: repeat-x;
        min-height: 60px;
        background-size: 100%;
    }

    .pagedata {
        padding: 30px 0px 0;
    }

    .pagedata {
        min-height: 250px;
        padding: 30px 0px;
        position: relative;
    }




    .footer-column div {
        box-sizing: border-box;
        width: 100%;
        padding: 0px 15px;
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0px 0px;
        padding: 15px 0px;
        flex-wrap: wrap;
    }

    .btn {
        display: inline-block;
        padding: 16px 20px;
        margin-top: 10px;
        margin-left: 20px;

    }






}